.buttonBox{
    color: #ffffff;
    font-family: 'Poppins' ,Arial;
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 7.5px;
    line-height: 97.5px;
    text-align: center;
    background-color: #33a071;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    height: 148px;
    left: 0;
    position: fixed;
    top: 100px;
    width: 1183px;
}

