.label {
    height: 217px;
    width: 938px;
  }
  
  .label .text-wrapper {
    color: #33a071;
    font-family: 'Poppins', Helvetica;
    font-size: 60px;
    font-weight: 700;
    height: 217px;
    left: 0;
    letter-spacing: 0;
    line-height: 78px;
    position: fixed;
    text-align: center;
    text-decoration: underline;
    top: 0;
    width: 938px;
  }